rpg_udemy_course/[Ll]ibrary/
rpg_udemy_course/[Tt]emp/
rpg_udemy_course/[Oo]bj/
rpg_udemy_course/[Bb]uild/
rpg_udemy_course/[Bb]uilds/
rpg_udemy_course/[Ll]ogs/
rpg_udemy_course/[Mm]emoryCaptures/
rpg_udemy_course/.idea/

rpg_udemy_course/*.csproj
rpg_udemy_course/*.pidb
rpg_udemy_course/*.suo
rpg_udemy_course/*.user
rpg_udemy_course/*.userprefs
rpg_udemy_course/*.unityproj
rpg_udemy_course/*.booproj
rpg_udemy_course/*.svd
rpg_udemy_course/*.pdb
rpg_udemy_course/*.opendb
rpg_udemy_course/*.VC.db
rpg_udemy_course/*.pidb.meta
